table {
    border: 1px solid #000000;
    margin: auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid black;
}

table tfoot {
    text-align:start;
}

form input, form textarea {
    display: block;
    margin: auto;
}
